@using Graduate_work.Services
@inject UserService userServis

<html lang="">
<head>
    <title>@Graduate_work.Localize.language.Layout_title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="~/css/registration.css">
    <link href="~/css/_Layout.css" rel="stylesheet" type="text/css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/localize.js"></script>
    @RenderSection("Head", false)
</head>
<body id="top">
    <div class="bgded" style="background-image: url('../images/demo/backgrounds/02.jpg');">

        <div class="wrapper row1">
            <header id="header" class="hoc clear">

                <div id="logo" class="fl_left">
                    <h1>
                        <a href=/User/Index>Bobook</a>
                    </h1>
                </div>
                <nav id="mainav" class="fl_right">
                    <ul class="clear">
                        <li class="active">
                            <a href=/User/Index>Bobook</a>
                        </li>
                        <li>
                            <a class="drop" href="#">@Graduate_work.Localize.language.Layout_dropdown</a>
                            <ul>
                                <li><a href="/User/Profile">@Graduate_work.Localize.language.Layout_profile</a></li>
                                <li><a href="/Home/Gallery">@Graduate_work.Localize.language.Layout_gallery</a></li>
                                <li><a href="#">@Graduate_work.Localize.language.Link_Text</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="drop" href="#">Dropdown</a>
                            <ul>
                                <li><a href="#">Level 2</a></li>
                                <li>
                                    <a class="drop" href="#">Level 2 + Drop</a>
                                    <ul>
                                        <li><a href="#">Level 3</a></li>
                                        <li><a href="#">Level 3</a></li>
                                        <li><a href="#">Level 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Level 2</a></li>
                            </ul>
                        </li>
                        @if (userServis.IsAdmin())
                        {
                            <li><a href="/User/ChangeRole">@Graduate_work.Localize.language.UserController_ChangeRole</a></li>
                        }
                        <li><a href="#">@Graduate_work.Localize.language.Link_Text</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="/User/Logout">@Graduate_work.Localize.language.UserController_Logout</a></li>
                        }
                        else
                        {
                            <li><a href="/User/Login">@Graduate_work.Localize.language.UserController_Login</a></li>
                        }

                    </ul>
                </nav>
            </header>
        </div>
    </div>

    <div class="content">
        @RenderBody()
    </div>
    <div class="footer">
        <select class="language" >
            <option value=en-EN>Eng</option>
            <option value=ru-RU>Рус</option>
        </select>
    </div>
</body>
</html>