@model ChangeRoleViewModel

<div class="title">
    @Graduate_work.Localize.language.ChangeUserRole:
</div>
<form action="/User/ChangeRole" method="post">
    <div class="alert-info">
        @Graduate_work.Localize.language.UserController_ChangeRole_ChandeID
    </div>

    <div>
        @Html.TextBoxFor(x => x.Id)
        @Html.ValidationMessageFor(x => x.Id)
    </div>

    <div class="alert-info">
        @Graduate_work.Localize.language.UserController_ChangeRole_SelectRole
    </div>

    <p>
        <select size="2" multiple name="@nameof(ChangeRoleViewModel.Role)">
            <option disabled>@Graduate_work.Localize.language.UserController_ChangeRole_Roles</option>
            <option value="User">@Graduate_work.Localize.language.User</option>
            <option value="Moderator">@Graduate_work.Localize.language.Moderator</option>
        </select>
        @Html.ValidationMessageFor(x => x.Role)
    </p>

    <div class="submit">
        <input type="submit" value="@Graduate_work.Localize.language.send" />
    </div>
</form>