

<div class="bgded" style="background-image:url('../images/demo/backgrounds/02.jpg');">
    <div class="wrapper">
        <article id="pageintro" class="hoc clear">

            <div class="transbox">
                <h3 class="heading">@Graduate_work.Localize.language.Index_greeting</h3>
                <p>@Graduate_work.Localize.language.Index_description</p>
            </div>
            <footer>
                <a class="btn" href="/User/Registration">@Graduate_work.Localize.language.Registration</a>
            </footer>
        </article>
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">

        <article class="group">
            <div class="one_quarter first">
                <p class="font-xs"></p>
                <h6 class="heading">@Graduate_work.Localize.language.Index_Сomment</h6>
            </div>
            <div class="three_quarter">
                <p>@Graduate_work.Localize.language.Link_Text</p>
                <p class="btmspace-30">@Graduate_work.Localize.language.To_Source [...]</p>
                <footer><a class="btn" href="#">@Graduate_work.Localize.language.read_more </a></footer>
            </div>
        </article>

        <div class="clear"></div>
    </main>
</div>

<div class="wrapper bgded overlay" style="background-image: url('../images/demo/backgrounds/02.jpg');">
    <section class="hoc container clear">

        <div class="sectiontitle">
            <h6 class="heading">@Graduate_work.Localize.language.Website_map</h6>
            <p>@Graduate_work.Localize.language.enticing_text</p>
        </div>
        <ul class="nospace group elements">
            <li class="one_third first">
                <article>
                    <a href="#"><i class="fa fa-chain-broken"></i></a>
                    <h6 class="heading">@Graduate_work.Localize.language.Link_Text</h6>
                    <p>@Graduate_work.Localize.language.read_more [...]</p>
                    <footer><a href="#">@Graduate_work.Localize.language.View_Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="fa fa-ambulance"></i></a>
                    <h6 class="heading">@Graduate_work.Localize.language.Link_Text</h6>
                    <p>@Graduate_work.Localize.language.read_more [...]</p>
                    <footer><a href="#">@Graduate_work.Localize.language.View_Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="fa fa-area-chart"></i></a>
                    <h6 class="heading">@Graduate_work.Localize.language.Link_Text</h6>
                    <p>@Graduate_work.Localize.language.read_more [...]</p>
                    <footer><a href="#">@Graduate_work.Localize.language.View_Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third first">
                <article>
                    <a href="#"><i class="fa fa-clock-o"></i></a>
                    <h6 class="heading">@Graduate_work.Localize.language.Link_Text</h6>
                    <p>@Graduate_work.Localize.language.read_more [...]</p>
                    <footer><a href="#">@Graduate_work.Localize.language.View_Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="fa fa-gamepad"></i></a>
                    <h6 class="heading">@Graduate_work.Localize.language.Link_Text</h6>
                    <p>@Graduate_work.Localize.language.read_more [...]</p>
                    <footer><a href="#">@Graduate_work.Localize.language.View_Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="fa fa-thumbs-up"></i></a>
                    <h6 class="heading">@Graduate_work.Localize.language.Link_Text</h6>
                    <p>@Graduate_work.Localize.language.read_more [...]</p>
                    <footer><a href="#">@Graduate_work.Localize.language.View_Details &raquo;</a></footer>
                </article>
            </li>
        </ul>

    </section>
</div>