@model UserViewModel 

<html lang="">
<head>
    <title>@Graduate_work.Localize.language.Layout_title | @Graduate_work.Localize.language.Layout_dropdown | @Graduate_work.Localize.language.Layout_profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/css/_Layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

    <div class="bgded" style="background-image:url(/wwwroot/images/demo/backgrounds/01.png);">

        <div id="breadcrumb" class="hoc clear">

            <ul>
                <li><a href="#">@Graduate_work.Localize.language.Layout_profile</a></li>
                <li><a href="#">@Graduate_work.Localize.language.Layout_gallery</a></li>
                <li><a href="#">@Graduate_work.Localize.language.Link_Text</a></li>
            </ul>

        </div>

    </div>

    <div class="wrapper row3">
        <main class="hoc container clear">

            <div class="sidebar one_quarter first">

                <h6>@Graduate_work.Localize.language.Layout_profile</h6>
                <nav class="sdb_holder">
                    <ul>
                        <li><a href="#">@Graduate_work.Localize.language.Profile_AddAvatar</a></li>
                        <li><a href="/User/Gallery">@Graduate_work.Localize.language.Layout_gallery</a></li>
                        <li><a href="#">@Graduate_work.Localize.language.Profile_LinkMail</a></li>
                        <li><a href="#">@Graduate_work.Localize.language.Profile_AddEvent</a></li>
                    </ul>
                </nav>
                <div class="sdb_holder">
                    <h6>@Graduate_work.Localize.language.Profile_About_the_user</h6>
                    <address>
                        Полное имя<br>
                        Страна где проживает<br>
                        Город где проживает<br>
                        <br>
                        Tel: xxxx xxxx xxxxxx<br>
                        Email: <a href="#">contact@domain.com</a>
                    </address>
                </div>

            </div>

            <div class="content three_quarter">

                <h1>Ник пользователя</h1>
                <img class="imgl borderedbox inspace-5" src="Путь к станартной аватарке если пользователь не установил другую" alt="">
                <p></p>@*Статус пользователя*@
                <h1>Table(s)</h1>
                <div class="scrollable">
                    <table>
                        <thead>
                            <tr>
                                <th>Header 1</th>
                                <th>Header 2</th>
                                <th>Header 3</th>
                                <th>Header 4</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">Value 1</a></td>
                                <td>Value 2</td>
                                <td>Value 3</td>
                                <td>Value 4</td>
                            </tr>
                            <tr>
                                <td>Value 5</td>
                                <td>Value 6</td>
                                <td>Value 7</td>
                                <td><a href="#">Value 8</a></td>
                            </tr>
                            <tr>
                                <td>Value 9</td>
                                <td>Value 10</td>
                                <td>Value 11</td>
                                <td>Value 12</td>
                            </tr>
                            <tr>
                                <td>Value 13</td>
                                <td><a href="#">Value 14</a></td>
                                <td>Value 15</td>
                                <td>Value 16</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="comments">
                    <h2>@Graduate_work.Localize.language.Profile_Comments</h2>
                    <ul>
                        <li>
                            <article>
                                <header>
                                    <figure class="avatar"><img src="/images/demo/avatar.png" alt=""></figure>
                                    <address>
                                        By <a href="#">A Name</a>
                                    </address>
                                    <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 </time>
                                </header>
                                <div class="comcont">
                                    <p>@Graduate_work.Localize.language.Profile_Comments</p>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <header>
                                    <figure class="avatar"><img src="/images/demo/avatar.png" alt=""></figure>
                                    <address>
                                        By <a href="#">A Name</a>
                                    </address>
                                    <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 </time>
                                </header>
                                <div class="comcont">
                                    <p>@Graduate_work.Localize.language.Profile_Comments</p>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <header>
                                    <figure class="avatar"><img src="/images/demo/avatar.png" alt=""></figure>
                                    <address>
                                        By <a href="#">A Name</a>
                                    </address>
                                    <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 </time>
                                </header>
                                <div class="comcont">
                                    <p>@Graduate_work.Localize.language.Profile_Comments</p>
                                </div>
                            </article>
                        </li>
                    </ul>
                    <h2>@Graduate_work.Localize.language.Write_A_Comment</h2>
                    <form action="#" method="post">
                        <div class="one_third first">
                            <label for="name">@Graduate_work.Localize.language.Name<span>*</span></label>
                            <input type="text" name="name" id="name" value="" size="22" required>
                        </div>
                        <div class="one_third">
                            <label for="email">@Graduate_work.Localize.language.Mail<span>*</span></label>
                            <input type="email" name="email" id="email" value="" size="22" required>
                        </div>
                        <div class="one_third">
                            <label for="url">@Graduate_work.Localize.language.Website</label>
                            <input type="url" name="url" id="url" value="" size="22">
                        </div>
                        <div class="block clear">
                            <label for="comment">@Graduate_work.Localize.language.Profile_Your_Comment</label>
                            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
                        </div>
                        <div>
                            <input type="submit" name="submit" value="@Graduate_work.Localize.language.send ">
                            &nbsp;
                            <input type="reset" name="reset" value="@Graduate_work.Localize.language.Reset ">
                        </div>
                    </form>
                </div>

            </div>

            <div class="clear"></div>
        </main>
    </div>
</body>
</html>