@model RegistrationViewModel

@section Head{
    <script src ="~/js/registration.js"></script>
 }

<div class="title">
    @Graduate_work.Localize.language.Registration:
</div>
<form action="/User/Registration" method="post">
    <div class="alert-info">
        @Graduate_work.Localize.language.Registratio_nickname_
    </div>

    <div>
        @Html.TextBoxFor(x => x.Login)
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div class="alert-info">
        @Graduate_work.Localize.language.Registratio_password
    </div>

    <div class="password">
        <input type="password" id="password-input" placeholder="@Graduate_work.Localize.language.Registratio_password" name="@nameof(RegistrationViewModel.Password)">
        <div class="flex">
            <label><input type="checkbox" class="password-checkbox"></label>
            <div>
                @Graduate_work.Localize.language.Show_Password
            </div>
        </div>
        @Html.ValidationMessageFor(x => x.Password)
    </div>

    <div class="alert-info">
        @Graduate_work.Localize.language.Registratio_password_again
    </div>

    <div class="password">
        <input type="password" id="password-input2" placeholder="@Graduate_work.Localize.language.Registratio_password" name="@nameof(RegistrationViewModel.PasswordCopy)">
        <div class="flex">
            <label><input type="checkbox" class="password-checkbox1"></label>
            <div>
                @Graduate_work.Localize.language.Show_Password
            </div>
        </div>
        @Html.ValidationMessageFor(x => x.PasswordCopy)
    </div>

    <div class="alert-info">
        @Graduate_work.Localize.language.Registratio_date_of_birth_
    </div>
    <div>
        <input type="date" name="@nameof(RegistrationViewModel.DateOfBirth)" min="1910-01-01">
        @Html.ValidationMessageFor(x => x.DateOfBirth)
    </div>

    <div class="submit">
        <input type="submit" value="@Graduate_work.Localize.language.send" />
    </div>
</form>