@model PictureViewModel
<html lang="">
<head>
    <title>@Graduate_work.Localize.language.Layout_title | @Graduate_work.Localize.language.Layout_dropdown | @Graduate_work.Localize.language.Layout_gallery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/css/pagination.css" rel="stylesheet" type="text/css">
    <link href="~/css/slyder.css" rel="stylesheet" type="text/css">
    <script src="~/js/slider.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body id="top">
    <div class="slider-my-good"> 
        <div class="my-slider">
            <div class="paginator-button">
                <button class='previous'>Previous</>
            </div>
            <div class="image-block" id="@Model.Name">
                <h2>@Model.Name</h2>
                <span class='counter'><span class='current'></span>/<span class='maxCount'></span></span>
                <img class ='visible-image' src=@Model.Url />
            </div>
            <div class="paginator-button">
                <button class='next'>Next</>
            </div>
        </div>
    </div>
</body>
</html>